@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@400;700&family=Bebas+Neue&family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #ffffff;
    --grid-bg-color: #ede9e9;
    --grid-bg-extra-color: #4c2a2a;
    --grid-title-color: #c1b3b3;
    --btn-color: #958996;
    --btn-hover-color: #542c58;
    --a-link-color: #5f5e5e;
    --footer-text-color: #2a2727;
    --prices-text: #764141;
    --dark-color: #000000;
    font-family: 'Lato', sans-serif;
}

#page-wrapper {
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}