.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 0.9em;
    font-weight: 700;
    text-transform:capitalize;
    border: 3px black solid;
    border-radius: 16px;
    background: transparent;
    cursor: pointer;
}