.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 0.9em;
    font-weight: 700;
    text-transform:capitalize;
    border: 3px var(--dark-color) solid;
    border-radius: 16px;
    background: transparent;
    cursor: pointer;
}

.product>button {
    border: 0;
    margin: 15px 0;
    background-color: var(--btn-color);
    font-weight: bold;
    
}

.product>button:hover {
    background-color: var(--btn-hover-color);
    transition: background-color 1s;
    color:var(--grid-bg-color)
}