.container {
    background-image: url(../img/pet-people-main.jpg);
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

.email>h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
    font-family: 'Averia Libre', cursive;
}


.email input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

.email input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: var(--btn-color);
}

.email input[type='submit']:hover {
    background-color: var(--btn-hover-color);
    transition: background-color 1s;
}

@media (max-width: 650px) {
    .email {
        margin-top: 120px;
    }
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top:40px;
    font-family: 'Averia Libre', cursive;
}

.hours_title {
    margin-bottom: 15px;
}

#video {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#video>iframe {
    max-width: 560px;
    width: 100%;
}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid var(--a-link-color);
    border-radius: 3px;
    background-color: var( --grid-bg-color);
}

.product>.level {
    background-color: #ddd;
    color: var(--a-link-color);
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product>h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: var(--prices-text);
}

.product>img {
    min-height: auto;
    width: 282px;
    display: flex;
    border-radius: 12%;
}

@media (max-width: 800px) {
    #pricing {
        flex-direction: column;
    }

    .product {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}